html{
  background-color: #FFF;
}
body{
  width: 100%;
  font-size: 16px;
  font-family: "Helvetica";
  line-height: 1.5em;
}
main{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 33em;
  padding: 1em;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 2em);
  max-height: 66em;
  padding-left: 1em;
  padding-right: 1em;
}
img + em{
  color: #595959;
  font-size: .9em;
  text-align: center;
  line-height: 1.25em;
  display: block;
  margin-left: 2em;
  margin-right: 2em;
}
#prev{
  position: absolute;
  top: 50px;
  left: 0px;
  width: calc((100% - 33em)/2);
  background-color: red;
  height: 100%;
}
#next{
  position: absolute;
  top: 50px;
  right: 0px;
  width: calc((100% - 33em)/2);
  background-color: blue;
  height: 100%;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #FFF;
  overflow: hidden;
  height: 52px;
  width: 100%;
  position: absolute;
  top: 0px;
  box-shadow: 10px 10px 5px grey;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #595959;
  color: white;
}
